# Merging All Dataframes
## 90-803 Machine Learning Foundations with Python (Spring 2024)
### Team 17: Yoko, Tessa, Hannah

In [1]:
import pandas as pd
import seaborn as sns

## Read Data

In [2]:
home_values = pd.read_csv("homevalues.csv")
home_values.drop(columns=['Unnamed: 0'], inplace=True)
home_values.head(5)

,Date,Year,Month,RegionID,SizeRank,RegionName,RegionType,StateName,State,StateCodeFIPS,MunicipalCodeFIPS,Bottom-Tier Average Home Value Estimate,Top-Tier Average Home Value Estimate
0,2000-01-31,2000,1,3101,0,Los Angeles County,county,CA,CA,6,37,122826.545216,400192.738911
1,2000-01-31,2000,1,139,1,Cook County,county,IL,IL,17,31,71689.188026,302264.545103
2,2000-01-31,2000,1,1090,2,Harris County,county,TX,TX,48,201,61195.175569,217850.462915
3,2000-01-31,2000,1,2402,3,Maricopa County,county,AZ,AZ,4,13,80846.367558,252240.106113
4,2000-01-31,2000,1,2841,4,San Diego County,county,CA,CA,6,73,129636.480126,387637.665786

In [3]:
climate_data = pd.read_csv("climate_cleaned.csv")
climate_data['Date'] = pd.to_datetime(climate_data['Date'])
climate_data['Year'] = climate_data['Date'].dt.year
climate_data['Month'] = climate_data['Date'].dt.month
climate_data[climate_data['Name'] == 'Cook County']

,ID,Name,State,Value,Anomaly (1901-2000 base period),1901-2000 Mean,Date,Year,Month
393,GA-075,Cook County,Georgia,50.1,0.3,49.8,2000-01-31,2000,1
575,IL-031,Cook County,Illinois,24.9,2.4,22.5,2000-01-31,2000,1
1294,MN-031,Cook County,Minnesota,6.8,2.1,4.7,2000-01-31,2000,1
3500,GA-075,Cook County,Georgia,55.4,2.9,52.5,2000-02-29,2000,2
3682,IL-031,Cook County,Illinois,33.9,8.1,25.8,2000-02-29,2000,2
...,...,...,...,...,...,...,...,...,...
889177,IL-031,Cook County,Illinois,41.6,2.7,38.9,2023-11-30,2023,11
889896,MN-031,Cook County,Minnesota,27.8,2.8,25.0,2023-11-30,2023,11
892102,GA-075,Cook County,Georgia,52.7,1.9,50.8,2023-12-31,2023,12
892284,IL-031,Cook County,Illinois,38.8,11.8,27.0,2023-12-31,2023,12
893003,MN-031,Cook County,Minnesota,26.6,15.6,11.0,2023-12-31,2023,12

In [4]:
from state_names import state_abbreviations
climate_data['StateAbbrv'] = climate_data['State'].map(state_abbreviations)
climate_data.sample(10)

,ID,Name,State,Value,Anomaly (1901-2000 base period),1901-2000 Mean,Date,Year,Month,StateAbbrv
618925,IL-145,Perry County,Illinois,77.3,1.6,75.7,2016-08-31,2016,8,IL
101967,TX-111,Dallam County,Texas,67.9,0.5,67.4,2002-09-30,2002,9,TX
860776,AR-111,Poinsett County,Arkansas,47.5,5.9,41.6,2023-02-28,2023,2,AR
361340,KS-151,Pratt County,Kansas,66.5,-3.5,70.0,2009-09-30,2009,9,KS
675374,ME-027,Waldo County,Maine,26.9,7.9,19.0,2018-02-28,2018,2,ME
52944,AR-087,Madison County,Arkansas,71.7,-0.5,72.2,2001-06-30,2001,6,AR
621759,GA-005,Bacon County,Georgia,78.2,1.7,76.5,2016-09-30,2016,9,GA
879268,WY-023,Lincoln County,Wyoming,63.6,2.8,60.8,2023-07-31,2023,7,WY
386695,MS-123,Scott County,Mississippi,73.8,3.0,70.8,2010-05-31,2010,5,MS
166619,NC-187,Washington County,North Carolina,76.5,1.7,74.8,2004-06-30,2004,6,NC

In [5]:
mortgage_data = pd.read_csv("mortgage_rates.csv")
mortgage_data.drop(columns=['Unnamed: 0'], inplace=True)
mortgage_data.head(5)

,Year,Month,Initial Fees and Charges (%),Effective Rate (%),Term to Maturity,Loan Amount ($thou),Purchase Price ($thou),Loan-to-Price Ratio (%),Share of Total Market (%)
0,1990,1,1.86,10.07,15,78.1,122.1,66.5,11.8
1,1990,2,1.94,10.14,15,83.3,128.7,66.5,10.8
2,1990,3,2.03,10.30,15,72.3,111.1,69.0,12.4
3,1990,4,2.00,10.44,15,74.9,115.8,68.4,10.7
4,1990,5,1.96,10.43,15,83.4,129.3,68.0,11.7

## Merge Dataframes

In [6]:
homevalues_v_climate = pd.merge(left=home_values, right=climate_data[['Value', 'Anomaly (1901-2000 base period)', '1901-2000 Mean', 'Name', 'Year', 'Month', 'StateAbbrv']],\
                                 left_on=['RegionName', 'State', 'Year', 'Month'], right_on=['Name', 'StateAbbrv', 'Year', 'Month'])
homevalues_v_climate.drop(columns=['SizeRank', 'RegionID','RegionType', 'StateName', 'StateCodeFIPS', 'MunicipalCodeFIPS', 'Name'], inplace=True)
homevalues_v_climate.head(10)

,Date,Year,Month,RegionName,State,Bottom-Tier Average Home Value Estimate,Top-Tier Average Home Value Estimate,Value,Anomaly (1901-2000 base period),1901-2000 Mean,StateAbbrv
0,2000-01-31,2000,1,Los Angeles County,CA,122826.545216,400192.738911,52.3,4.5,47.8,CA
1,2000-01-31,2000,1,Cook County,IL,71689.188026,302264.545103,24.9,2.4,22.5,IL
2,2000-01-31,2000,1,Harris County,TX,61195.175569,217850.462915,57.4,5.6,51.8,TX
3,2000-01-31,2000,1,Maricopa County,AZ,80846.367558,252240.106113,55.3,4.5,50.8,AZ
4,2000-01-31,2000,1,San Diego County,CA,129636.480126,387637.665786,54.3,4.8,49.5,CA
5,2000-01-31,2000,1,Orange County,CA,158481.922906,440708.766617,57.9,3.9,54.0,CA
6,2000-01-31,2000,1,Kings County,NY,108943.521646,405673.227064,31.3,-0.1,31.4,NY
7,2000-01-31,2000,1,Miami-Dade County,FL,61205.155233,248410.426371,67.2,1.3,65.9,FL
8,2000-01-31,2000,1,Dallas County,TX,49989.501905,208140.240773,49.4,5.0,44.4,TX
9,2000-01-31,2000,1,Riverside County,CA,89927.910662,243787.225650,55.3,4.9,50.4,CA

In [7]:
homevalues_v_climate2 = pd.merge(left=homevalues_v_climate, right=mortgage_data, on=['Year', 'Month'])
homevalues_v_climate2.head(10)

,Date,Year,Month,RegionName,State,Bottom-Tier Average Home Value Estimate,Top-Tier Average Home Value Estimate,Value,Anomaly (1901-2000 base period),1901-2000 Mean,StateAbbrv,Initial Fees and Charges (%),Effective Rate (%),Term to Maturity,Loan Amount ($thou),Purchase Price ($thou),Loan-to-Price Ratio (%),Share of Total Market (%)
0,2000-01-31,2000,1,Los Angeles County,CA,122826.545216,400192.738911,52.3,4.5,47.8,CA,0.93,8.01,15,103.0,173.6,64.7,7.0
1,2000-01-31,2000,1,Los Angeles County,CA,122826.545216,400192.738911,52.3,4.5,47.8,CA,0.81,8.20,30,129.9,166.8,81.1,61.1
2,2000-01-31,2000,1,Cook County,IL,71689.188026,302264.545103,24.9,2.4,22.5,IL,0.93,8.01,15,103.0,173.6,64.7,7.0
3,2000-01-31,2000,1,Cook County,IL,71689.188026,302264.545103,24.9,2.4,22.5,IL,0.81,8.20,30,129.9,166.8,81.1,61.1
4,2000-01-31,2000,1,Harris County,TX,61195.175569,217850.462915,57.4,5.6,51.8,TX,0.93,8.01,15,103.0,173.6,64.7,7.0
5,2000-01-31,2000,1,Harris County,TX,61195.175569,217850.462915,57.4,5.6,51.8,TX,0.81,8.20,30,129.9,166.8,81.1,61.1
6,2000-01-31,2000,1,Maricopa County,AZ,80846.367558,252240.106113,55.3,4.5,50.8,AZ,0.93,8.01,15,103.0,173.6,64.7,7.0
7,2000-01-31,2000,1,Maricopa County,AZ,80846.367558,252240.106113,55.3,4.5,50.8,AZ,0.81,8.20,30,129.9,166.8,81.1,61.1
8,2000-01-31,2000,1,San Diego County,CA,129636.480126,387637.665786,54.3,4.8,49.5,CA,0.93,8.01,15,103.0,173.6,64.7,7.0
9,2000-01-31,2000,1,San Diego County,CA,129636.480126,387637.665786,54.3,4.8,49.5,CA,0.81,8.20,30,129.9,166.8,81.1,61.1

In [8]:
# To csv, saved locally
homevalues_v_climate2.to_csv("all_data.csv")

### References

1. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html